
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.5.0/chart.umd.js" integrity="sha512-D4pL3vNgjkHR/qq+nZywuS6Hg1gwR+UzrdBW6Yg8l26revKyQHMgPq9CLJ2+HHalepS+NuGw1ayCCsGXu9JCXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script  src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js" referrerpolicy="no-referrer"></script>


<script>
(async function() {

  const host = window.location.host;
  const socket = new WebSocket(`ws://${host}/ws`);
  let chartCreated = null;
  let tableCreated = null;

  window.addEventListener("beforeunload", () => {
    socket.close(1000)
  })

function createChart(data, options)
{
   return  new Chart(
      document.getElementById(options.id),
      {
        type: options.type,
        data: {
          labels: data.map(row => row.Label),
          datasets: [
            {
              label: options.label,
              borderColor: CHART_COLORS.purple,
              backgroundColor: transparentize(CHART_COLORS[options.color], 0.5),
              data: data.map(row => row.Num),
              tension: 0.3,
            }
          ]
        },
        options: {
          responsive:true,
          scales:{
              y:{title:{display:true, text: options.yTitle, font:{size: 16}}},
              x:{title:{display:true, text: options.xTitle, font:{size: 16}}},

          },
        }
      }
    );
}

socket.onopen = (event) => {
    console.log("Connection opened");
};

socket.onmessage = (event) => {
    console.log("Message from server: ");
    console.log("event")
    console.log(event)
    const {type, data}  = JSON.parse(event.data);
    const opts = {
      type: "line",
      color: "purple",
      label: "Traffic", 
      id: "ip-tracker", 
      yTitle: "Views", 
      xTitle: "Today"
    };

    if(type == "visitors")
    {
      if(!chartCreated)
      {
        chartCreated = createChart(data, opts);
      }else{
        chartCreated.data.datasets[0].data = data.map(d => d.Num);
        chartCreated.update();
      }

    }

    if(type == "views")
    {
      const table = document.getElementById("table-views")
      if(!tableCreated)
      {
       document.getElementById("ip-table").classList.toggle("d-none");
       tableCreated = true;
      }
      const rowArr = data.map( d => `
        <tr>
          <td>${d.UserId != "" ? d.UserId : "Unauthenticated"}</td>
          <td>${d.Path}</td>
          <td>${d.Address}</td>
          <td>${d.Zip}</td>
      </tr>
       `);
       const rows = rowArr.join("");
       table.innerHTML = rows;
      console.log(data)
    }
   
};

const CHART_COLORS = {
  red: 'rgb(255, 99, 132)',
  orange: 'rgb(255, 159, 64)',
  yellow: 'rgb(255, 205, 86)',
  green: 'rgb(75, 192, 192)',
  blue: 'rgb(54, 162, 235)',
  purple: 'rgb(153, 102, 255)',
  grey: 'rgb(201, 203, 207)'
};

 function transparentize(value, opacity) {
  var alpha = opacity === undefined ? 0.5 : 1 - opacity;
  return chroma(value).alpha(alpha);
}

  const data = [
    { year: 2010, count: 10 },
    { year: 2011, count: 20 },
    { year: 2012, count: 15 },
    { year: 2013, count: 25 },
    { year: 2014, count: 22 },
    { year: 2015, count: 30 },
    { year: 2016, count: 28 },
  ];

  const addrs =  null;
  @* const addrs = @Json.Serialize(ViewBag.Addresses) || null; *@
  @* const posts = null; *@
  const posts = @Json.Serialize(ViewBag.Posts) || null;

  if(addrs)
  {
    const c = new Chart(
      document.getElementById('ip-tracker'),
      {
        type: 'line',
        data: {
          labels: addrs.map(row => row.label),
          datasets: [
            {
              label: 'Ip Traffic',
              borderColor: CHART_COLORS.purple,
              backgroundColor: transparentize(CHART_COLORS.purple, 0.5),
              data: addrs.map(row => row.num),
              tension: 0.3,
            }
          ]
        },
        options: {
          responsive:true,
          scales:{
              y:{title:{display:true, text: "Views", font:{size: 16}}},
              x:{title:{display:true, text: "Today", font:{size: 16}}},

          },
        }
      }
    );


  }


  if(posts){
       new Chart(
        document.getElementById('post-creation'),
        {
        type: 'line',
        data: {
            labels: posts.map(row => row.label),
            datasets: [
            {
                label: 'Post Creation',
                borderColor: CHART_COLORS.blue,
                backgroundColor: transparentize(CHART_COLORS.blue, 0.5),
                data: posts.map(row => row.num),
                tension: 0.3,
                @* pointStyle: "circle", 
                pointRadius: 10,
                pointHoverRadius: 15 *@
            }
            ]
        },
        options: {
            responsive:true,
            scales:{
                y:{title:{display:true, text: "Posts", font:{size: 16}}},
                x:{title:{display:true, text: "Today", font:{size: 16}}},

            },
        }
        }
    );
  }

})();

</script>