
<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Verify Email</h2>
        <p> Your email has been verified!</p>
        <a asp-controller="Home" asp-action="Index"> Go back home</a>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}