@model WebApplication1.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users</title>
</head>
<body>

<div>
    <h4>Users</h4>
    <hr />
    <main class="row">
        Users page
    </main>
</div>

</body>
</html>
