@{
    ViewData["Title"] = "Home Page";
}

@model WebApplication1.Models.UserModel

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Name: @Html.DisplayFor(model => model.Username)</p>
    <p>Password: @Html.DisplayFor(model => model.Password)</p>
</div>
