@{
    ViewData["Title"] = "Register Page";
}

<section class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>this is the register page</a>.</p>

    <form action="/api/register" method="post">
        <input type="text" name="username" placeholder="username" />
        <input type="text" name="password" placeholder="password" />
        <input type="submit" name="submit" />
    </form>
</section>
